Spoofed DNS records aren't an issue

> Additionally, implementors should be aware of issues presented by a Spoofed DNS records where the record returned by a malicious DNS Server is inauthentic and allows the record to be pointed at a malicious server which contains a different DID Document. To prevent this type of issue, usage of DNSSEC which is defined in RFC4033, RFC4034, and RFC4035. 

The point of having the server authenticate via HTTPS is to not have to rely on DNSSEC here.